html, body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}
body{
    &.frontend{
        .navbar {
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }
        
        .navbar-brand {
            font-weight: 700;
            font-size: 1.5rem;
        }
        
        .nav-link {
            font-weight: 200;
            text-transform: uppercase;
            margin-right: 1rem;
            transition: color 0.3s;
            font-family: 'Kanit', sans-serif;
            font-size: 1.5rem;
        }
        
        .nav-link:hover {
            color: #ccc !important;
        }
        
        .nav-link.active {
            color: #fff !important;
        }
        
        .form-control {
            border-radius: 20px 0 0 20px;
        }
        
        .btn-outline-light {
            border-radius: 0 20px 20px 0;
        }
        // frontend footer
        .footer {
            background-color: #f8f9fa;
            padding: 20px 0;
            margin-top: 30px;
        }

        .social-icons a {
            color: #6c757d;
            font-size: 1.5rem;
            margin: 0 10px;
            transition: color 0.3s ease;
        }

        .social-icons a:hover {
            color: #007bff;
        }

    }
}