html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
.pointer{ cursor: pointer;}
.text-bold{font-weight: bold;}
// set fix width //
.w20{ width: 20px !important;}
.w30{ width: 30px !important;}
.w40{ width: 40px !important;}
.w50{ width: 50px !important;}
.w60{ width: 60px !important;}
.w70{ width: 70px !important;}
.w80{ width: 80px !important;}
.w90{ width: 90px !important;}
.w100{ width: 100px !important;}
.w110{ width: 110px !important;}
.w120{ width: 120px !important;}
.w130{ width: 130px !important;}
.w140{ width: 140px !important;}
.w150{ width: 150px !important;}
.w160{ width: 160px !important;}
.w170{ width: 170px !important;}
.w180{ width: 180px !important;}
.w190{ width: 190px !important;}
.w200{ width: 200px !important;}
.w210{ width: 210px !important;}
.w220{ width: 220px !important;}
.w230{ width: 230px !important;}
.w240{ width: 240px !important;}
.w250{ width: 250px !important;}
.w260{ width: 260px !important;}
.w270{ width: 270px !important;}
.w280{ width: 280px !important;}
.w290{ width: 290px !important;}
.w300{ width: 300px !important;}
.w320{ width: 310px !important;}
.w320{ width: 320px !important;}
.w330{ width: 330px !important;}
.w340{ width: 340px !important;}
.w350{ width: 350px !important;}
.w360{ width: 360px !important;}
.w370{ width: 370px !important;}
.w380{ width: 380px !important;}
.w390{ width: 390px !important;}
.w400{ width: 400px !important;}

.mw20{ min-width: 20px !important;}
.mw30{ min-width: 30px !important;}
.mw40{ min-width: 40px !important;}
.mw50{ min-width: 50px !important;}
.mw60{ min-width: 60px !important;}
.mw70{ min-width: 70px !important;}
.mw80{ min-width: 80px !important;}
.mw90{ min-width: 90px !important;}
.mw100{ min-width: 100px !important;}
.mw110{ min-width: 110px !important;}
.mw120{ min-width: 120px !important;}
.mw130{ min-width: 130px !important;}
.mw140{ min-width: 140px !important;}
.mw150{ min-width: 150px !important;}
.mw160{ min-width: 160px !important;}
.mw170{ min-width: 170px !important;}
.mw180{ min-width: 180px !important;}
.mw190{ min-width: 190px !important;}
.mw200{ min-width: 200px !important;}
.mw210{ min-width: 210px !important;}
.mw220{ min-width: 220px !important;}
.mw230{ min-width: 230px !important;}
.mw240{ min-width: 240px !important;}
.mw250{ min-width: 250px !important;}
.mw260{ min-width: 260px !important;}
.mw270{ min-width: 270px !important;}
.mw280{ min-width: 280px !important;}
.mw290{ min-width: 290px !important;}
.mw300{ min-width: 300px !important;}
.mw320{ min-width: 310px !important;}
.mw320{ min-width: 320px !important;}
.mw330{ min-width: 330px !important;}
.mw340{ min-width: 340px !important;}
.mw350{ min-width: 350px !important;}
.mw360{ min-width: 360px !important;}
.mw370{ min-width: 370px !important;}
.mw380{ min-width: 380px !important;}
.mw390{ min-width: 390px !important;}
.mw400{ min-width: 400px !important;}
.h50{ height: 50px !important; overflow-y: scroll;}
.h60{ height: 60px !important; overflow-y: scroll;}
.h70{ height: 70px !important; overflow-y: scroll;}
.h80{ height: 80px !important; overflow: hidden;}
.h180{ height: 180px !important; overflow: hidden;}
.h200{ height: 200px !important; overflow: hidden;}
.h220h{ height: 220px !important; overflow: hidden;}
.h270h{ height: 270px !important; overflow: hidden;}
.h320h{ height: 320px !important; overflow: hidden;}
.h220{ height: 220px !important; overflow-y: scroll;}
.h230{ height: 230px !important; overflow-y: scroll;}
.h240{ height: 240px !important; overflow-y: scroll;}
.h250{ height: 250px !important; overflow-y: scroll;}
.h260{ height: 260px !important; overflow-y: scroll;}
.h270{ height: 270px !important; overflow-y: scroll;}
.h280{ height: 280px !important; overflow-y: scroll;}
.h300{ height: 300px !important; overflow-y: scroll;}
.h320{ height: 320px !important; overflow-y: auto;}
.h600-ysc{ height: 600px !important; overflow-y: scroll;}
.commission-table {
    height: 650px;
    overflow-y: auto;
    border: 1px solid #ddd;
    padding: 10px;
  
  
  /* ปรับแต่ง scrollbar */
    &::-webkit-scrollbar {
        width: 5px; /* กำหนดขนาดเล็ก */
    }
  
    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
  
    &::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 10px;
    }
    
    &::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}
#app{
    height: 100%;
    // background-color: #ff7300;
}
.form-check{
    .form-check-input {
    visibility: visible !important;
    opacity: 1 !important;
  }
}
.table-block{
    padding-right: 0px;
    overflow-x: auto;
}
// Loading //
.box-loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 99;
  }
  
  .box-in-loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .box-top-loading {
    position: absolute;
    top: 300px;
    left: 50%;
    transform: translate(-50%, 0%);
  }
  .text-right{
    text-align: right !important;
  }
// Sidebar 
/*
.sidebar .nav li.active .nav-link, body > .navbar-collapse .nav li.active .nav-link {
}
*/
.page-item{
    &.disabled{
        .page-link{
            color:#cccccc !important;
        }
    }
}
.text-caption{
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #0c0e55;
    font-size: 16px;
    background-color: rgba(207, 206, 206, 0.8);
    padding: 6px 12px;
    border-radius: 8px;
    z-index: 999;
    width: 100%;
}

.fixed-plugin{ display: none;}
.sidebar {
    .nav{
        li {
            .nav-link {
                p{
                    color: #000000;
                }
            }
            i{
                color:#000000;
            }
        }
        .nav-item{

            &.active{
                color: #542903;
                opacity: 1;
                background: #e0e0e09d;
                .nav-link{
                    color: #542903;
                    margin: 5px 15px;
                    opacity: 0.86;
                    border-radius: 4px;
                    display: block;
                    padding: 10px 15px;
                    
                    p{
                        margin: 0;
                        line-height: 31px;
                        font-size: 12px;
                        font-weight: 600;
                        text-transform: uppercase;
                        display: inline-flex;
                    }
                    i{
                        font-size: 28px;
                        margin-right: 15px;
                        width: 30px;
                        text-align: center;
                        vertical-align: middle;
                        float: left;                  
                    }
                }
                &.submenu, &.show, &.show:hover, &.show:active{
                    background: transparent;
                    color: #542903;
                }
            }
            &:hover{
                background: #e0e0e09d;
                opacity: 1;                  
                .nav-link{
                    color: #542903;
                    margin: 5px 15px;
                    opacity: 0.86;
                    border-radius: 4px;
                    display: block;
                    padding: 10px 15px;
                    
                    p{
                        margin: 0;
                        line-height: 31px;
                        font-size: 12px;
                        font-weight: 600;
                        text-transform: uppercase;
                        display: inline-flex;
                    }
                    i{
                        font-size: 28px;
                        margin-right: 15px;
                        width: 30px;
                        text-align: center;
                        vertical-align: middle;
                        float: left;                  
                    }
                }
            }
            .nav-link{
                color: #FFFFFF;
                margin: 5px 15px;
                opacity: 0.86;
                border-radius: 4px;
                display: block;
                padding: 10px 15px;
                
                p{
                    margin: 0;
                    line-height: 31px;
                    font-size: 12px;
                    font-weight: 600;
                    text-transform: uppercase;
                    display: inline-flex;
                }
                i{
                    font-size: 28px;
                    margin-right: 15px;
                    width: 30px;
                    text-align: center;
                    vertical-align: middle;
                    float: left;                  
                }
            }
                
        }
        .submenu {
            // border-top: 1px solid #fff;
            // border-bottom: 1px solid #fff;
            .nav-item{
                margin:0;
                // background-color: #70a440;
                .nav-link{
                    padding-left:50px;
                    font-size: 16px;
                    &:hover,&:active{
                        padding-left:50px;
                        font-size: 16px;
                        color: #a14401;
                        background-color: #e0e0e09d;
                    }
                    &.active {
                        color: #a14401;
                        font-weight: 800;
                        // background-color: #e0e0e09d;
                    }
    
                    p{
                        font-size: 14px;
                    }
                    i{
                        &.nc-icon{
                            font-size: 16px;
                            font-weight: bold;
                            margin-top:5px;
                            margin-right: 5px;
                        }
                    }
        
                }
                &.level-1 {
                padding-left: 40px;
                }
            
                &.level-2 {
                padding-left: 60px;
                }
                &.active {
                    // background-color: #e0e0e09d; /* หรือสีที่คุณต้องการเมื่อเมนูถูกเลือก */
                    color: #542903;
                    font-weight: 800;
                }
      
            }
          
            &.show {
              display: block;
            }
        }
    }
    .logo{
        border-bottom-color: #202020;
        .simple-text{
            font-weight: 400;
            color: #202020;
        }
    }
}
body > .navbar-collapse {
    .nav{ 
        li {
            .nav-link {
                p{
                    color: #000000;
                }
                i{
                    color:#000000;
                }
    
            }
        }
    }
}
// Table 
.table{
    thead{
        tr{
            th {
                text-align: center !important;
                font-weight: 600;
                background-color: orange;
                color:#000000;
                text-transform: uppercase;
            }
        }
    }
    tbody{
        tr{
            td{
                padding: 5px;
                vertical-align: top;
                &.td-action{
                    padding-right:5px !important;
                    width: 120px;
                    text-align: right;
                    button{
                        margin-left: .25rem;
                        padding: .2rem;
                    }
                }
            }
            &.PENDING{
                td{
                    background-color: #ffeee1;
                    color: #9e4602;

                }
            }
            &.COMPLETED{
                td{
                    background-color: #e6fae6;
                    color: #036603;
                }
            }

        }
    }
}
// Login
#login-layout{
    // display: flex;
    height: 100% !important;
    #login-page{
        display: flex;
        height: 100%;
        .form-outline {
            .form-control{
                &.form-control-lg{
                    background-color: #ffffff;
                }
                &.form-control-lg:focus~.form-label{
                    color: #000000;
                    font-weight: 300;
                }
            }
        }
        .input-group{
            .input-group-text{
                height: 40px;
                border-left: 0;
            }
            .form-control{
                height: 40px;
            }
        }
        .form-check {
            min-height: 1.5rem;
        
            .form-check-input[type=checkbox] {
                border-radius: .25rem;
                border:.25rem #cccccc solid;
                margin-top: .19em;
                margin-right: 6px;
                &:before {
                    content: "";
                    position: absolute;
                    box-shadow: 0 0 0 13px transparent;
                    border-radius: 50%;
                    width: .875rem;
                    height: .875rem;
                    background-color: transparent;
                    opacity: 0;
                    pointer-events: none;
                    transform: scale(0);
                }
                &:checked{
                    background-image: none;
                    background-color: #3b71ca;
                    &:before {
                        opacity: .16;
                    }
                    &:after {
                        display: block;
                        transform: rotate(45deg) /*!rtl:ignore*/;
                        width: .375rem;
                        height: .8125rem;
                        border: .125rem solid #fff;
                        border-top: 0;
                        border-left: 0 /*!rtl:ignore*/;
                        margin-left: .25rem;
                        margin-top: -1px;
                        background-color: transparent;
                    }
                }
            }
            .form-check-input{
                &:checked {
                    border-color: #3b71ca;
                }
            }
            .form-check-label {
                padding-left: .15rem;
            }
            label {
                display: inline-block;
            }
        }
        .divider:after,
        .divider:before {
            content: "";
            flex: 1;
            height: 1px;
            background: #eee;
        }
    }
}
// Form Search
.card-body{
    .form-search{
        .input-group{
            padding: 0;
            height: 40px;
            .input-group-text{
                padding:0;
                height: 40px;
                border: 1px solid #bdbdbd;
                .form-select{
                        height: 32px;
                        margin: 0;
                        border:0;
                        border-right: 1px solid #cccccc;
                        background-color: white;
                        border-top-right-radius: 0;
                        border-bottom-right-radius: 0;
                        box-shadow: none;
                }
                .form-control{
                    height: 32px !important;
                }
            }
            .form-control{
                height: 40px !important;
            }
        }
        .form-control, .form-label{
            height: 32px !important;
        }
    }
}
// Card && Card body //
.card-body{
    .input-group{
        .input-group-text{
            height: 40px;
            border-left: 0;
        }
        .form-control{
            height: 40px;
        }
        .btn{
            height: 40px;
        }
    }
}
// Card && Card body //
// Paginate
    ul{
        &.pagination {
            justify-content: center;
        }
    }
// End Paginate 

// Loading
@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .spin {
    animation: spin .5s linear infinite;
  }
  .writing-loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.writing-loader {
    display: flex;
    position: relative;
}

.pen {
    width: 20px;
    height: 80px;
    background-color: #333;
    border-radius: 10px;
    position: relative;
    animation: write 2s infinite ease-in-out;
}

.pen:before {
    content: "";
    width: 12px;
    height: 30px;
    background-color: #777;
    border-radius: 50%;
    position: absolute;
    top: -15px;
    left: 4px;
}

.paper {
    margin-left: 20px;
    border: 2px solid #ccc;
    width: 200px;
    height: 150px;
    background-color: white;
    position: relative;
}

.text-line {
    display: block;
    width: 80%;
    height: 8px;
    background-color: #e0e0e0;
    margin: 10px auto;
    border-radius: 4px;
    animation: fadeInOut 1s infinite alternate;
}

@keyframes write {
    0% {
        transform: rotate(0deg) translateX(0);
    }
    50% {
        transform: rotate(-15deg) translateX(-10px);
    }
    100% {
        transform: rotate(0deg) translateX(0);
    }
}

@keyframes fadeInOut {
    0% {
        background-color: #e0e0e0;
    }
    100% {
        background-color: #bbb;
    }
}
// End Loading

// Page Dashboard //
$columns: 12; // จำนวนคอลัมน์ที่ต้องการสร้าง
$min-height: 220px; // ความสูงขั้นต่ำที่ต้องการ


.page-dashboard{
    .profile-stats{
        .card-stats{
           p{
            margin-bottom: .1rem;
           }
        }
        // Loop สำหรับ col-sm-* และ card
        @for $i from 1 through $columns {
            .col-sm-#{$i} .card {
            min-height: $min-height;
            }
        }
    }
}

// Default Card 


// Modal UI
.modal{
    &.image{
        padding:0 !important;
        .modal-header{
            margin-top:-50px;
            padding:10;
        }
        .modal-content{
            background: none !important;
            .modal-body{
                padding:0;
                text-align: center;
                img{
                    max-width: 90%;
                    max-height: 80%;
                }
            }
        }
    }
}
.logs-level{
    .form-check{
        display: inline;
        .form-check-label {
            padding-left: 5px;
            text-transform: uppercase;
        }
    }
}

@media (max-width: 760px) {
    
    .card{
        transform: translateZ(0);
        &.h320h{
            min-height: 320px !important;
            height: auto !important;
            display: inline-block;
        }

        .card-body{
            color: black;
            
            .form-search{
                .form-control{
                    height: 40px !important;
                }
                .input-group{
                    display: inline-block;
                    height: auto;
                    .input-group-text{
                        display: flex;
                        width: 100%;
                        margin-bottom: 4px;
                    }
                    .form-control{
                        width: 100%;
                        display: flex;
                        border-left: 1px solid #bdbdbd;
                    }
                }
            }
        }
    }
}